<strong>Ola, {{provider}} </strong>
<p> Ha uma nova encomenda para ser realizada , confira os detalhes abaixo:</p>
<p>
    <strong> Cliente: </strong>{{user}}<br/>
    <strong> Produto: </strong>{{product}}<br/>
    {{!-- <strong> Data/hora: </strong>{{date}}<br/> --}}
    <br/>
    <small>
        O produto ja está disponível para retirada.
    </small>
</p>
